#menu{
    height:70%;
    width:100%;
    float:left;
    font:bold;
    color: whitesmoke
}
/* .submenu{
    height:85%;
    width:18%;
    background-color:rebeccapurple;
    padding:3px;
    text-align:center;
    float:left;
    margin-right:1px;
} */

.btnsubmenu{
    height: 90%;
    width : 25%;
    background-color:blueviolet;
    color:rgb(228, 186, 107);
    font-weight: bolder;
    font-size: 17px ;  
}

#menu .btnsubmenu:hover{
   background-color: yellowgreen;
   color :rgb(15, 4, 26);
   font-weight:normal;
}
.headerColor{
    background-color: darkslateblue;
}